{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} :: Decode
{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}-> <a href="{{ path('_decode_page') }}">Decode Url</a>
{% endblock %}
{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
