{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} :: Encode
{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}-> <a href="{{ path('_encode_page') }}">Encode Url</a>
{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}