<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #595959;
        padding: 2px 6px;
    }
</style>
{% block breadcrumbs %}
    <a href="{{ path('app_shortener') }}">Home</a>
{% endblock %}
<br>
{% if not app.user %}
    <a href="{{ path('app_login') }}">Login</a>
    <a href="{{ path('app_register') }}">Register</a>
    <p>login: tester@gmail.com</p>
    <p>pass: 1111</p>
{% endif %}
{% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
{% endif %}
<div class="example-wrapper">
    {% block body %}{% endblock %}
</div>
</body>
</html>
